<!--
; Title: header.html 
; Author: Andrew (Andy) Britt
; Date: 25 Jun 2022
; Description: Header ejs for Pets-R-Us
; Reference: https://www.w3schools.com/Css/css_navbar.asp
-->

<!-- header to be sent to ejs -->
<header>
    <!--This is nav bar actual-->
    <div class="nav">
        <a class="navBtn" href="/">Pets-R-Us</a>
        <a class="navBtn" href="/grooming">Grooming</a>
        <a class="navBtn" href="/boarding">Boarding</a>
        <a class="navBtn" href="/training">Training</a>
        <a class="navBtn" href="/register">Register</a>
        <a class="navBtn" href="/login">Log-in</a>
    </div>
</header>