<!--
; Title: grooming.html 
; Author: Andrew (Andy) Britt
; Date: 19 Jun 2022
; Description: Grooming page for Pets-R-Us
; Reference: https://unsplash.com/photos/qy0BHykaq0E?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
; Reference: https://newbedev.com/javascript-how-to-add-header-and-footer-in-ejs-code-example
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="/styles/pets.css">

    <!-- Link to Google Fonts (Ubuntu font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <title>Welcome to Pets-R-Us</title>
</head>
<body>

    <!-- ejs file for header -->
<%- include('./partials/header.html')%>

    <div id="headerWords"><h1><i>Pets-R-Us<br>Grooming<br>Services</i></h1>
    </div>
    <br>
    
    <!--This is the main body container div-->
    <div id="mainBodyText">
        <h2>Grooming? We've got you covered.</h2>
            
        <p>Whether it's a general washing, a deep cleaning or full clean and maintenance, our skilled pet technicians will give your pets the care the deserve. We offer various packages to meet your pets needs and even have a spa for your pets to go all out. We offer some of the best treats and meals for any type of diet and we even source our foods locally to support the regional community. Let us take on all the needs of your pet and dazzle you with the results. Don't forget to ask about our student, veteran, first responder and senior citizen discounts!</p>
        <br>

        <!--This is the Pricing body section-->
        <h2>Pricing</h2>
        <div id="pricing">
            <ul>
                <li>Basic Shampoo: $15</li>
                <li>Shampoo and Trim: $35</li>
                <li>Dog Massage: $50</li>
                <li>Nail Trimming: $25</li>
                <li>Total Treatment: $90</li>
            </ul>
        </div>
        <br>

        <H2>Looking for annual packages?</H2>

        <p>We are pleased to offer annual packages to save you money and keep your dog on a healthy grooming schedule. We recognize the need to pay once a year or monthly so you not only save money but simplify your life. With an annual bronze package, you get two washes per month. With the silver package you get two washes and one trim per month. With the gold package you get two washes, one trim and one nail treatment per month. Lastly, with the platinum package, you'll get two washes, one trim, one nail treatment and one doggy massage per month. We really stop at nothing to provide the most value for our customers. Just as our single package offer discounts to our veteran, first responders, students and senior citizens, so does our annual packages. There are always ways to save with Pets-R-Us. Let us show you and your pets exceptional service that beats any of the big box pet care companies.</p>

        <br>
        <!--This is the Pricing body section-->
        <h2>Pricing</h2>
        <div id="pricing">
            <ul>
                <li>Bronze Package: $250</li>
                <li>Silver Package: $500</li>
                <li>Gold Package: $700</li>
                <li>Platinum Package: $850</li>
            </ul>
        </div>
        <br>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- This is the discount message @ bottom right -->
    <p style="color: white; float: right;"><i>* 10% Discount upon valid proof of age or affiliation</i></p>

    <!-- adding footer with ejs -->
<%- include('./partials/footer.html')%>

</body>
</html>