<!--
; Title: profile.html 
; Author: Andrew (Andy) Britt
; Date: 23 Jun 2022
; Description: Grooming page for Pets-R-Us
; Reference: https://unsplash.com/photos/qy0BHykaq0E?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
; Reference: https://newbedev.com/javascript-how-to-add-header-and-footer-in-ejs-code-example
; Reference: https://github.com/buwebdev/web-340/tree/master/week-7
; Reference: https://github.com/buwebdev/web-340/tree/master/week-8
; Reference: https://github.com/buwebdev/web-340/tree/master/week-9
; Reference: https://www.w3schools.com/tags/tag_select.asp
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="/styles/pets.css">

    <!-- Link to Google Fonts (Ubuntu font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <title>Welcome to Pets-R-Us</title>
</head>
<body>
    <!-- ejs file for header -->
    <%- include('./partials/header.html')%>
    <div id="headerWords">
        <h1><i>
            Pets-R-Us
                <br>
            Profile
        </i></h1>
    </div>
    <div id="login">
        <div>
            <% if(currentUser) { %>
                <br>
                <h3 class="profileTxt">User name: <%= currentUser %> </h3>
                <h3 class="profileTxt">User Email: <%= currentUser.email %> </h3>
              
            <%} else { %>
            
                <br>
                <h3 class="profileTxt">User name: <%= currentUser %> </h3>
                <h3 class="profileTxt">User Email: <%= appointment.email %> </h3>
                <% } %>
            <div id="userAppointments"></div>
        </div>
        <br>
    </div>
<script>
// Fetch API 
fetch("api/appointment")
    .then((res) => res.json())
    .then(data => {
        let tableString = 
        `
        <h2>
            Latest Pet Appointments
        </h2>
        <table style="text-align: center;">
            <tr>
                <th>Pet name</th>
                <th>Breed</th>
                <th>Service</th>
            </tr>
        `;

        for (let appointment of data) {
            tableString += 
            `
                <tr>
                    <td>${appointment.petName}</td>
                    <td>${appointment.breed}</td>
                    <td>${appointment.service}</td>
                </tr>
            `;
          }
          
          tableString += `</table>`;
          
          document.getElementById("userAppointments").innerHTML = tableString;
        });
</script>

<!-- ejs file for footer -->
<div class="fixedFtr">
    <%- include('./partials/footer.html')%>
</div>
</body>
</html>