<!--
; Title: register.html 
; Author: Andrew (Andy) Britt
; Date: 19 Jun 2022
; Description: Registration page for Pets-R-Us
; Reference: https://unsplash.com/photos/qy0BHykaq0E?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
; Reference: https://newbedev.com/javascript-how-to-add-header-and-footer-in-ejs-code-example
; Reference: https://github.com/buwebdev/web-340/tree/master/week-7
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="/styles/pets.css">

    <!-- Link to Google Fonts (Ubuntu font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <title>Welcome to Pets-R-Us</title>
</head>
<body>
    <!-- ejs file for header -->
    <%- include('./partials/header.html')%>

    <div id="headerWords"><h1><i>Pets-R-Us<br>Register</i></h1>
    </div>

<div class="regBody">
    <div class="form">
        <form action="/register" method="post">
            <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
            <div class="form-field">
                <label id="labels" for="username">Username</label><br />
                <input type="text" class="input" name="username" id="username" required autofocus>
            </div>
            <br>
            <div class="form-field">
                <label id="labels" for="firstName">First Name</label><br />
                <input type="text" class="input" name="firstName" id="firstName" required>
            </div>
            <br>
            <div class="form-field">
                <label id="labels" for="lastName">Last Name </label><br />
                <input type="text" class="input" name="lastName" id="lastName" required>
            </div>
            <br>
            <div class="form-field">
                <label id="labels" for="email">Email</label><br />
                <input type="text" class="input" name="email" id="email" required>
            </div>
            <br>
            <div class="form-field">
                <label id="labels" for="password">Password</label><br />
                <input type="password" class="input" name="password" id="password" required>
            </div>
            <br>

            <!-- Register Button -->
            <input type="submit" value="Register" id="loginBtn">
           
                <br>
                <br>
                <br>
            <!-- Code examples from buwebdev github for references -->
            <div class="userList">
                <h3>User List</h3>
                <% if(users.length > 0) { %>
                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Joined</th>
                    </tr>
                    <tbody>
                    <% users.forEach(function(user) { %>
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= moment(user.createdAt).format('MM-DD-YYYY') %>
                        </td>
                    </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <h3>Users not added to database yet.</h3>
                <% } %>
            </div>
        </form>
    </div>
</div>

<div class="fixedFtr">
    <%- include('./partials/footer.html')%>
    </div>
</body>
</html>