<!--
; Title: grooming.html 
; Author: Andrew (Andy) Britt
; Date: 19 Jun 2022
; Description: Grooming page for Pets-R-Us
; Reference: https://unsplash.com/photos/qy0BHykaq0E?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="/styles/pets.css">

    <!-- Link to Google Fonts (Ubuntu font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <title>Welcome to Pets-R-Us</title>
</head>
<body>

    <%- include('./partials/header.html')%>

        <div id="headerWords"><h1><i>Pets-R-Us<br>Training<br>Services</i></h1></div>
        <br>
   

    <!--This is the main body container div-->
    <div id="mainBodyText">
        <h2>Training</h2>
            
        <p>Whether it's a general washing, a deep cleaning or full clean and maintenance, our skilled pet technicians will give your pets the care the deserve. We offer various packages to meet your pets needs and even have a spa for your pets to go all out. We offer some of the best treats and meals for any type of diet and we even source our foods locally to support the regional community. Let us take on all the needs of your pet and dazzle you with the results. Don't forget to ask about our student, veteran, first responder and senior citizen discounts!</p>
        <br>

        <!--This is the Pricing body section-->
        <h2>Training</h2>
        <div id="pricing">
            <ul>
                <li>Basic Shampoo: $15</li>
                <li>Shampoo and Trim: $35</li>
                <li>Dog Massage: $50</li>
                <li>Nail Trimming: $25</li>
                <li>Total Treatment: $90</li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- This is the discount message @ bottom right -->
    <p style="color: white; float: right;"><i>* 10% Discount upon valid proof of age or affiliation</i></p>

</body>
</html>