/*
=================================================
; Title: pets.css
; Author: Andrew (Andy) Britt
; Date: 17 Jun 2022
; Description: CSS for Pets-R-Us
; Reference: https://unsplash.com/photos/qy0BHykaq0E?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
=================================================
*/

* {
    font-family: 'Ubuntu', sans-serif;
}

#headerWords {
    letter-spacing: 1.5px;
    line-height: 50px;
    font-size: 29px;
    color: darkslategrey;
    text-shadow: 4px 2px rgb(0, 0, 0);
}

body {
    margin: 0%;
    background-image: url(../images/karsten-winegeart-qy0BHykaq0E-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html {
    padding: 25px;
}

.nav {
    float: right;
    font-weight: bold;
    letter-spacing: 1px;
}

.navBtn {
    background-color: darkslategrey;
    color: aliceblue;
    padding: 8px;
    text-decoration: none;
    border: none;
}

.navBtn:hover {
    background-color: rgb(127, 192, 246);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px 0px black;
}

#mainBodyText {
    padding: 20px;
    margin-top: 20%;
    letter-spacing: 1.5px;
    line-height: 40px;
    font-size: 28px;
    color: antiquewhite;
    text-shadow: 2px 2px black;
    text-align: center;
    background-color: rgb(47, 79, 79, 0.7);
}

#mainBodyText:hover {
    box-shadow: 10px 10px 20px 0px black;
}

#mainBodyText p {
    text-align: left;
    margin-left: 2%;
}

#pricing {
    text-align: left;
    margin-left: 35%;
    text-decoration: underline;
}

.left {
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 52%;
    border: 1px solid black;
    box-shadow: 10px 10px 20px 0px black;
    background-color: rgb(47, 79, 79, 0.8);
}

.left h2 {
    margin-left: 5%;
}

.right {
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 52%;
    border: 1px solid black;
    box-shadow: 10px 10px 20px 0px black;
    background-color: rgb(47, 79, 79, 0.8);
}

.right h2 {
    margin-right: 5%;
}

#marginTxt {
    margin-left: 30%;
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    color: red;
    text-shadow: 1px 1px black; 
}

#mailLink {
    color: red;
    font-style: italic;
}

#login {
    padding: 20px;
    width: 40%;
    margin-top: 0%;
    margin-left: 30%;
    letter-spacing: 1.5px;
    line-height: 35px;
    font-size: 28px;
    color: antiquewhite;
    text-shadow: 2px 2px black;
    text-align: left;
    background-color: rgb(47, 79, 79, 0.9);
    box-shadow: 10px 10px 20px 0px black;
}

#login h2 {
    text-align: center;
}

#password,
#email,
#name {
    float: right;
    margin-right: 25%;
    line-height: 20px;
}

#loginBtn {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 45px;
    border: none;
    border-radius: 0%;
    background-color: cadetblue;
    color: antiquewhite;
    font-size: large;
}

#loginBtn:hover {
    box-shadow: 10px 10px 20px 0px black;
    background-color: rgb(149, 166, 167);
    color: black;
}